html {
    background: url(Grit-Garage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
}
main {
    font-size: 30px;
    display: inline;
    color: White;
}
.GG {
    display: flex;
    width: 10%;
    background-color: white;
    border-radius: 10px;
    border-style: double;
}
button {
    transition: background-color 0.2s ease, scale 0.2s ease;
    position: absolute;
    display: flex;
    right: 15px;
    top: 0;
    margin: 10px;
    padding: 10px;
}
button:hover {
    transform: scale(1.2);
    background-color: #c3ff41;
    scale:1.3;
}
.topnav {
    position:absolute;
    display: flex;
    top:5px;
    text-align: center;
    justify-content: center;
    max-width: 390px;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 5%;
    left: 765px;
}
.info {
    display: flex;
    position: absolute;
    font-size: 20px;
    bottom: 0px;
    color: white;
}
.Genväg {
    display: flex;
    position: absolute;
    text-align: center;
    bottom: 5px;
    right: 10px;
    margin: 10px;
    gap: 10px;
    padding: 10px;
    font-size: 25px;
}
.oljebyte {
  background-image: url("grit-garage-oljebyte.png")
}

.service {
    background-image: url("grit-garage-service.png")
}

.dackbyte {
    background-image: url("grit-garage-dackbyte.png")
}

.inspektion {
    background-image: url("grit-garage-inspektion-reparation.png")
}
.tjanster, .tjanst{
    width: 50%;
    gap: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0 20px;
}
@media screen and(min-width) {
    
}